<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="GET">
      <select name="season" id="saison-select">
        <option value="">choisir une année</option>
        <option value="2022">2022</option>
        <option value="2023">2023</option>
        <option value="2024">2024</option>
      </select>
      <select name="league" id="ligue" disabled>
        <option value="">choisir une ligue</option>
      </select>
      <select name="team" id="equipe" disabled></select>
      <select name="player" id="joueur" disabled></select>
      <button type="submit">afficher les statistiques</button>
    </form>
    <!-- {% if ligues %}
    <h3>Ligues disponibles pour la saison {{ saison }} :</h3>
    <ul>
        {% for id_ligue, nom_ligue in ligues %}
            <li><strong>{{ nom_ligue }}</strong></li>
        {% endfor %}
    </ul> -->
    <!-- {% endif %} -->
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
  </body>
</html>
